[mysqld]
# Character set configuration
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Performance and resource allocation settings
max_connections = 10000
connect_timeout = 5
wait_timeout = 600
max_allowed_packet = 16M
thread_cache_size = 128
sort_buffer_size = 4M
bulk_insert_buffer_size = 16M
tmp_table_size = 32M
max_heap_table_size = 32M
key_buffer_size = 256M
table_open_cache = 400
host_cache_size = 0
skip_name_resolve = 1

# InnoDB settings
default_storage_engine = InnoDB
innodb_buffer_pool_size = 5G

innodb_log_buffer_size = 8M
innodb_file_per_table = 1
innodb_open_files = 400
innodb_io_capacity = 400
innodb_flush_method = O_DIRECT

# Path and file settings
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
secure-file-priv = /var/lib/mysql-files

[client]
socket = /var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
